* {
  padding-bottom: 0px;
  border: none;
  border-radius: 0;
  font-family: "Iosevka Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: rgba(255, 255, 255, 1);
}
/*
#workspaces {
  margin-left: ;
}
*/
#workspaces button {
  margin: 0 3px 8px 0;
  padding: 2.5px 1.5px 1px 1.5px;
  color: #52e27a;
  background-color: #3f424e;
  transition-duration: 0;
  font-weight: bold;
  font-family: "Iosevka Nerd Font";
  border-radius: 2px;
}

#workspaces button.focused {
  background-color: #52e27a;
  color: #3f424e;
  font-weight: bold;
  transition-duration: 0;
}

#workspaces button.persistent {
  background: #3f424e;
  color: #f9f9f9;
  font-weight: normal;
  transition-duration: 0;
}

#custom-powermenu {
  background: #e25252;
  margin-bottom: 8px;
  color: #3f424e;
  margin-left: 0px;
  margin-right: 8px;
  padding: 1px 6px 0 5px;
  font-family: "Iosevka Nerd Font";
  border-radius: 2px;
}

#custom-assistant {
  background-color: #3f424e;
  margin-bottom: 8px;
  margin-left: 3px;
  color: #f9f9f9;
  margin-left: 3px;
  margin-right: 0px;
  padding: 1px 6px 0 6px;
  font-weight: normal;
  border-radius: 2px;
}

#tray {
  background: #3f424e;
  margin-bottom: 8px;
  margin-left: 3px;
  color: white;
  margin-right: 0;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 2px;
  font-family: Iosevka Nerd Font;
  border-radius: 2px 0 0 2px;
}

#cpu {
  background: #3f424e;
  margin-bottom: 8px;
  color: #f9f9f9;
  margin-right: 3px;
  padding: 1px 6px 0 6px;
  font-family: "Iosevka Nerd Font";
  border-radius: 2px;
}

#pulseaudio {
  background: #5294e2;
  margin-bottom: 8px;
  margin-left: 3px;
  color: #3f424e;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1px 12px 0 6px;
  font-weight: bold;
  font-family: "Iosevka Nerd Font";
  border-radius: 0;
}

#clock {
  background: #e2ca52;
  margin-bottom: 8px;
  color: #3f424e;
  margin-left: 8px;
  margin-right: 0px;
  padding: 1px 6px 0 6px;
  font-weight: bold;
  border-radius: 2px;
}

#network {
  background: #52e2cc;
  margin-bottom: 8px;
  margin-left: 3px;
  color: #3f424e;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1px 14px 0 6px;
  font-weight: bold;
  font-family: "Iosevka Nerd Font";
  border-radius: 2px 0 0 2px;
}

#custom-ping {
  background: #3f424e;
  margin-bottom: 8px;
  margin-left: 3px;
  color: #f9f9f9;
  margin-left: 0px;
  margin-right: 3px;
  padding: 1px 6px 0 6px;
  font-family: "Iosevka Nerd Font";
  border-radius: 2px;
}

#idle_inhibitor {
  background: #3f424e;
  margin-bottom: 8px;
  margin-left: 3px;
  color: #f9f9f9;
  margin-left: 0px;
  margin-right: 3px;
  padding: 1px 4px 0 4px;
  font-family: "Iosevka Nerd Font";
  border-radius: 0 2px 2px 0;
}

#idle_inhibitor.activated {
  color: #52e27a;
}

#battery {
  background: #cb52e2;
  margin-bottom: 8px;
  margin-left: 3px;
  color: #3f424e;
  margin-left: 0px;
  margin-right: 3px;
  padding: 1px 8px 0 6px;
  font-weight: bold;
  font-family: "Iosevka Nerd Font";
  border-radius: 0 2px 2px 0;
}
