button, label, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #f9f9f9;
}

button {
    padding: 5px;
    margin: 5px;
}

button:focus {
    background-color: #5294e2;
}

#searchbox {
    background-color: #3f424e;
    border: none;
    border-radius: 20px;
    color: #f9f9f9;
    margin-top: 40px;
    margin-bottom: 10px;
}

#separator {
    background-color: transparent;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px
}

#description {
    margin-bottom: 60px
}
